.g-header {
			    height: 102px;
			    width: 100%;
			    text-align: center;
			    background-color: #fff;
			}
			.g-header-wrap {
			    height: 102px;
			    width: 1200px;
			    margin: 0 auto;
			    text-align: left;
			    position: relative;
			    z-index: 100;
			    /*background: silver;*/
			}
			.g-header .logo {
			    width: 91px;
			    height: 52px;
			    position: absolute;
			    top: 25px;
			}
			.header-nsearch {
			    width: 389px;
			    height: 45px;
			    position: absolute;
			    top: 25px;
			    right: 257px;
			}
			.header-nsearch .search-input-wrap {
			    border: 1px solid #d8d9dc;
			    border-right: 0;
			    float: left;
			    z-index: 2;
			    height: 28px;
			    width: 308px;
			    position: relative;
			    background-color: #f0f0f0;
			    color: #666;
			}
			.header-nsearch .search-input {
			    height: 28px;
			    line-height: 21px;
			    width: 294px;
			    /*outline: 0;*/
			    color: #333;
			    padding: 0px 4px 0px 10px;
			    background-image: none;
			    border: none;
			    margin-top: 0px;
			    background-color: #f0f0f0;
			}
			.header-nsearch .search-btn {
			    float: right;
			    width: 80px;
			    height: 30px;
			    background-color: #ca224e;
			    color: #fff;
			    border: none;
			    cursor: pointer;
			    line-height: 30px;
			    font-family: '微软雅黑';
			    font-size: 16px;
			    border-radius: 0;
			}
			.header-nsearch .hot-keys {
			    margin-top: 4px;
			    text-align: left;
			    text-indent: 1px;
			    color: #666;
			}
			.hot-keys .s-item .hot{
				color: #d41c4f;
			}
			.hot-keys .s-item a:hover{
				text-decoration: underline;
			}
			
			.header-serve {
			    width: 224px;
			    height: 77px;
			    position: absolute;
			    top: 12px;
			    right: -6px;
			    font-size: 0;
			}